.container-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.content-field {
  margin: 10px 0 10px 0 !important;
}

.content-form {
  border-radius: 15px;
  box-shadow: 1px 4px 10px -2px black;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  width: 300px;
  min-height: 50vh;
}

@media screen and ( max-width: 912px ) {
  .container-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .content-form {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
