.textfield-addbutton {
  display: flex;
  margin: 10px 5px 10px 5px;
}

.add-task-logo {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  margin: 10px 5px 10px 5px;
}

.header-task-page {
  display: flex;
  flex-direction: column;
  text-align: center !important;
}

.logout-icon {
  position: absolute;
  right: 2px;
  top: 15px;
}

h3 {
  margin: 0;
}
