.icon-button {
  border: rgb(190, 190, 190) solid 1px !important;
  border-radius: 5px !important;
}

.buttons-container {
  display: flex;
}

.container-task {
  display: flex;
  flex-direction: column;
  margin: 10px 5px 10px 5px;
}

.date {
  display: flex;
  justify-content: center;
  min-height:25px;
}

.select-edit-remove {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.select {
  width: 100%;
}
