.icon-button {
  border: 0 !important;
  border-radius: 5px !important;
}

.buttons-container {
  display: flex;
}

.container-task {
  background-color: #bddde7 !important;
  border: none !important;
  border-radius: 5px !important;
  display: flex;
  flex-direction: column;
  padding: 8px 3px 8px 3px;
  margin: 10px 5px 10px 5px;
}

.Mui-disabled {
  border: none !important;
  background-color: #bddde7 !important;
  font-size: x-large !important;
  opacity: 1 !important;
  -webkit-text-fill-color: #00317a  !important;
  text-align: center !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0) !important;
}

.icon-button {
  color: #00317a !important;
}

.text-task {
  color: #00317a;
  display: flex;
  justify-content: center;
  min-height:25px;
}

.select-edit-remove {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select {
  border: 0 !important;
  width: 100%;
}
