.icon-button {
  border: 0 !important;
  border-radius: 5px !important;
}

.buttons-container {
  align-items: center;
  display: flex;
  color: #12094c;
}

.container-task {
  background-color: #c9b8ed !important;
  border: none !important;
  border-radius: 5px !important;
  display: flex;
  flex-direction: column;
  padding: 8px 3px 8px 3px;
  margin: 10px 5px 10px 5px;
}

.Mui-disabled {
  border: none !important;
  background-color: #c9b8ed !important;
  font-size: x-large !important;
  opacity: 1 !important;
  -webkit-text-fill-color: #12094c  !important;
  text-align: center !important;
}

.Mui-disabled .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0) !important;
}

.icon-button {
  color: #12094c !important;
}

.select-edit-remove {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select {
  border: 0 !important;
  width: 100%;
}
